<header>Formations possible</header>
<div class="row">
  <div class="col-md-9">
    <div class="row">
      <div class="col-md-4">
        <h4 class="text-center">3-4-2-1</h4>
        <div class="container terrain">
          <div class="row text-center">
            <div class="" style="width: 100%; margin-top: 20px" *ngIf="allpayerMatch[0]">
              {{ allpayerMatch[0].name }}
            </div>
          </div>
          <div class="row " style="margin-top: 20px">
            <div class="col-md-4 text-right" *ngIf="allpayerMatch[1]">{{ allpayerMatch[1].name }}</div>
            <div class="col-md-4 text-center" *ngIf="allpayerMatch[2]">{{ allpayerMatch[2].name }}</div>
            <div class="col-md-4 text-left" *ngIf="allpayerMatch[3]">{{ allpayerMatch[3].name }}</div>
          </div>
          <div class="row " style="margin-top: 20px">
            <div class="col-md-3 text-right" *ngIf="allpayerMatch[4]">{{ allpayerMatch[4].name }}</div>
            <div class="col-md-3 text-center" *ngIf="allpayerMatch[5]">{{ allpayerMatch[5].name }}</div>
            <div class="col-md-3 text-center" *ngIf="allpayerMatch[6]">{{ allpayerMatch[6].name }}</div>
            <div class="col-md-3 text-left" *ngIf="allpayerMatch[7]">{{ allpayerMatch[7].name }}</div>
          </div>
          <div class="row " style="margin-top: 20px">
            <div class="col-md-6 text-right" *ngIf="allpayerMatch[8]">{{ allpayerMatch[8].name }}</div>
            <div class="col-md-6 text-left" *ngIf="allpayerMatch[9]">{{ allpayerMatch[9].name }}</div>
          </div>
          <div class="row " style="margin-top: 20px">
            <div class="text-center" *ngIf="allpayerMatch[10]">{{ allpayerMatch[10].name }}</div>
          </div>

          <div class="poss" *ngIf="allpayerMatch.length == 11" style="position: absolute; top: 300px; left: 120px">
            RESULT: {{ scoreFormation[1] }}
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <h4 class="text-center">4-4-2</h4>
        <div class="container terrain">
          <div class="row text-center">
            <div class="" style="width: 100%; margin-top: 20px" *ngIf="allpayerMatch[0]">
              {{ allpayerMatch[0].name }}
            </div>
          </div>
          <div class="row " style="margin-top: 20px">
            <div class="col-md-3 text-right" *ngIf="allpayerMatch[1]">{{ allpayerMatch[1].name }}</div>
            <div class="col-md-3 text-center" *ngIf="allpayerMatch[2]">{{ allpayerMatch[2].name }}</div>
            <div class="col-md-3 text-center" *ngIf="allpayerMatch[3]">{{ allpayerMatch[3].name }}</div>
            <div class="col-md-3 text-left" *ngIf="allpayerMatch[4]">{{ allpayerMatch[4].name }}</div>
          </div>
          <div class="row " style="margin-top: 20px">
            <div class="col-md-3 text-right" *ngIf="allpayerMatch[5]">{{ allpayerMatch[5].name }}</div>
            <div class="col-md-3 text-center" *ngIf="allpayerMatch[6]">{{ allpayerMatch[6].name }}</div>
            <div class="col-md-3 text-center" *ngIf="allpayerMatch[7]">{{ allpayerMatch[7].name }}</div>
            <div class="col-md-3 text-left" *ngIf="allpayerMatch[8]">{{ allpayerMatch[8].name }}</div>
          </div>
          <div class="row " style="margin-top: 20px">
            <div class="col-md-6 text-right" *ngIf="allpayerMatch[9]">{{ allpayerMatch[9].name }}</div>
            <div class="col-md-6 text-left" *ngIf="allpayerMatch[10]">{{ allpayerMatch[10].name }}</div>
          </div>

          <div class="poss" *ngIf="allpayerMatch.length == 11" style="position: absolute; top: 300px; left: 120px">
            RESULT: {{ scoreFormation[2] }}
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <h4 class="text-center">3-5-2</h4>
        <div class="container terrain">
          <div class="row text-center">
            <div class="" style="width: 100%; margin-top: 20px" *ngIf="allpayerMatch[0]">
              {{ allpayerMatch[0].name }}
            </div>
          </div>
          <div class="row " style="margin-top: 20px">
            <div class="col-md-4 text-right" *ngIf="allpayerMatch[1]">{{ allpayerMatch[1].name }}</div>
            <div class="col-md-4 text-center" *ngIf="allpayerMatch[2]">{{ allpayerMatch[2].name }}</div>
            <div class="col-md-4 text-center" *ngIf="allpayerMatch[3]">{{ allpayerMatch[3].name }}</div>
          </div>
          <div class="row " style="margin-top: 20px">
            <div class="col-md-2 col-md-offset-1 text-right" *ngIf="allpayerMatch[4]"  style="margin-top: 5px">{{ allpayerMatch[4].name }}</div>
            <div class="col-md-2 text-center"  *ngIf="allpayerMatch[5]">{{ allpayerMatch[5].name }}</div>
            <div class="col-md-2 text-center"  style="margin-top: 5px" *ngIf="allpayerMatch[6]">{{ allpayerMatch[6].name }}</div>
            <div class="col-md-2 text-center" *ngIf="allpayerMatch[7]">{{ allpayerMatch[7].name }}</div>
            <div class="col-md-2 text-left"  style="margin-top: 5px" *ngIf="allpayerMatch[8]">{{ allpayerMatch[8].name }}</div>
          </div>
          <div class="row " style="margin-top: 20px">
            <div class="col-md-6 text-right" *ngIf="allpayerMatch[9]">{{ allpayerMatch[9].name }}</div>
            <div class="col-md-6 text-left" *ngIf="allpayerMatch[10]">{{ allpayerMatch[10].name }}</div>
          </div>

          <div class="poss" *ngIf="allpayerMatch.length == 11" style="position: absolute; top: 300px; left: 120px">
            RESULT: {{ scoreFormation[3] }}
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <h4 class="text-center">4-3-3</h4>
        <div class="container terrain">
          <div class="row text-center">
            <div class="" style="width: 100%; margin-top: 20px" *ngIf="allpayerMatch[0]">
              {{ allpayerMatch[0].name }}
            </div>
          </div>
          <div class="row " style="margin-top: 20px">
            <div class="col-md-3 text-right" *ngIf="allpayerMatch[1]">{{ allpayerMatch[1].name }}</div>
            <div class="col-md-3 text-center" *ngIf="allpayerMatch[2]">{{ allpayerMatch[2].name }}</div>
            <div class="col-md-3 text-center" *ngIf="allpayerMatch[3]">{{ allpayerMatch[3].name }}</div>
            <div class="col-md-3 text-left" *ngIf="allpayerMatch[4]">{{ allpayerMatch[4].name }}</div>
          </div>
          <div class="row " style="margin-top: 20px">
            <div class="col-md-4 text-right" *ngIf="allpayerMatch[5]">{{ allpayerMatch[5].name }}</div>
            <div class="col-md-4 text-center" *ngIf="allpayerMatch[6]">{{ allpayerMatch[6].name }}</div>
            <div class="col-md-4 text-left" *ngIf="allpayerMatch[7]">{{ allpayerMatch[7].name }}</div>
          </div>
          <div class="row " style="margin-top: 20px">
            <div class="col-md-4 text-right" *ngIf="allpayerMatch[8]">{{ allpayerMatch[8].name }}</div>
            <div class="col-md-4 text-center" *ngIf="allpayerMatch[9]">{{ allpayerMatch[9].name }}</div>
            <div class="col-md-4 text-left" *ngIf="allpayerMatch[10]">{{ allpayerMatch[10].name }}</div>
          </div>

          <div class="poss" *ngIf="allpayerMatch.length == 11" style="position: absolute; top: 300px; left: 120px">
            RESULT: {{ scoreFormation[4] }}
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <h4 class="text-center">5-3-2</h4>
        <div class="container terrain">
          <div class="row text-center">
            <div class="" style="width: 100%; margin-top: 20px" *ngIf="allpayerMatch[0]">
              {{ allpayerMatch[0].name }}
            </div>
          </div>
          <div class="row " style="margin-top: 20px">
            <div class="col-md-2 col-md-offset-1 text-right" *ngIf="allpayerMatch[1]"  style="margin-top: 5px">{{ allpayerMatch[1].name }}</div>
            <div class="col-md-2 text-center"  *ngIf="allpayerMatch[2]">{{ allpayerMatch[2].name }}</div>
            <div class="col-md-2 text-center"  style="margin-top: 5px" *ngIf="allpayerMatch[3]">{{ allpayerMatch[3].name }}</div>
            <div class="col-md-2 text-center" *ngIf="allpayerMatch[4]">{{ allpayerMatch[4].name }}</div>
            <div class="col-md-2 text-left"  style="margin-top: 5px" *ngIf="allpayerMatch[5]">{{ allpayerMatch[5].name }}</div>
          </div>
          <div class="row " style="margin-top: 20px">
            <div class="col-md-3 text-right" *ngIf="allpayerMatch[6]">{{ allpayerMatch[6].name }}</div>
            <div class="col-md-3 text-center" *ngIf="allpayerMatch[7]">{{ allpayerMatch[7].name }}</div>
            <div class="col-md-3 text-left" *ngIf="allpayerMatch[8]">{{ allpayerMatch[8].name }}</div>
          </div>
          <div class="row " style="margin-top: 20px">
            <div class="col-md-6 text-right" *ngIf="allpayerMatch[9]">{{ allpayerMatch[9].name }}</div>
            <div class="col-md-6 text-left" *ngIf="allpayerMatch[10]">{{ allpayerMatch[10].name }}</div>
          </div>

          <div class="poss" *ngIf="allpayerMatch.length == 11" style="position: absolute; top: 300px; left: 120px">
            RESULT: {{ scoreFormation[5] }}
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <h4 class="text-center">5-4-1</h4>
        <div class="container terrain">
          <div class="row text-center">
            <div class="" style="width: 100%; margin-top: 20px" *ngIf="allpayerMatch[0]">
              {{ allpayerMatch[0].name }}
            </div>
          </div>
          <div class="row " style="margin-top: 20px">
            <div class="col-md-2 col-md-offset-1 text-right" *ngIf="allpayerMatch[1]">{{ allpayerMatch[1].name }}</div>
            <div class="col-md-2 text-center" *ngIf="allpayerMatch[2]">{{ allpayerMatch[2].name }}</div>
            <div class="col-md-2 text-center" *ngIf="allpayerMatch[6]">{{ allpayerMatch[3].name }}</div>
            <div class="col-md-2 text-center" *ngIf="allpayerMatch[4]">{{ allpayerMatch[4].name }}</div>
            <div class="col-md-2 text-left" *ngIf="allpayerMatch[5]">{{ allpayerMatch[5].name }}</div>
          </div>
          <div class="row " style="margin-top: 20px">
            <div class="col-md-3 text-right" *ngIf="allpayerMatch[6]">{{ allpayerMatch[6].name }}</div>
            <div class="col-md-3 text-center" *ngIf="allpayerMatch[7]">{{ allpayerMatch[7].name }}</div>
            <div class="col-md-3 text-center" *ngIf="allpayerMatch[8]">{{ allpayerMatch[8].name }}</div>
            <div class="col-md-3 text-left" *ngIf="allpayerMatch[9]">{{ allpayerMatch[9].name }}</div>
          </div>
          <div class="row " style="margin-top: 20px">
            <div class="text-center" *ngIf="allpayerMatch[10]">{{ allpayerMatch[10].name }}</div>
          </div>

          <div class="poss" *ngIf="allpayerMatch.length == 11" style="position: absolute; top: 300px; left: 120px">
            RESULT: {{ scoreFormation[6] }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class=" col-md-3">
    <table>
      <tr class="btn-group">
        <input type="text" [(ngModel)]="search" (keyup)="doSearch()" placeholder="Rechercher">
      </tr>
      <tr>
        <td>
            <h2 style="color: white; background-color: rgb(100, 125, 0)">
              All Players
            </h2>
            <table class="table">
              <tr *ngFor="let c of allpayer">
                <td>{{ c.name }}</td>
                <td>
                  <button
                    *ngIf="c.bool == false && (allpayerMatch.length < 11)"
                    class="btn btn-primary"
                    (click)="addplayerM(c)"
                  >
                    add
                  </button>
                </td>
              </tr>
            </table>
        </td>

        <td style="padding-top: 0 !important;margin-top: 0 !important;vertical-align: top;">
            <h2 style="color: white; background-color: rgb(100, 125, 0)">
              Line-up
            </h2>
            <table class="table" >
              <tr *ngFor="let c of allpayerMatch; let i= index">
                <td>{{i + 1}}</td>
                <td>{{ c.name }}</td>
                <td>
                  <button class="btn btn-danger" (click)="deleteplayerM(c, i)">
                    delete
                  </button>
                </td>
              </tr>
            </table>
        </td>
      </tr>
    </table>
  </div>
<!--  <div class="row">-->
<!--    <div class="col-md-9">-->
<!--    </div>-->
<!--  </div>-->
</div>
